---
import '../styles/styles.css'
const { pageTitle, pageDesc } = Astro.props
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{pageTitle} - My Cool Website</title>
		<meta name="description" content={pageDesc} />
</head>
<body>
<slot />
</body>
</html>